{% extends 'base.html.twig' %}

{% block body %}
    <div class="history-container">
        <h1>VM actives</h1>
        {% for vm in vms %}
            <ul class="vm-container">
                <li class="nb-vm">{{ loop.index }}</li>
                <li class="vm-name">{{ vm.name }}</li>
                <li class="os-name">{{ vm.os }}</li>
                <button class="btn--danger">Delete</button>
                <li class="id-server" style="display: none">{{ vm.idServer }}</li>
            </ul>
        {% endfor %}
    </div>

    <script>
        var historyAjaxRouteName = "{{ path('history_ajax')|escape('js') }}";
    </script>

{%  endblock %}